# Primi passi con SQLite

SQLite è un sistema di gestione di database relazionale (RDBMS) leggero e senza server. A differenza di altri database come MySQL o PostgreSQL, non richiede un processo separato in esecuzione, perché memorizza l'intero database in un singolo file sul disco (.sqlite o .db).
Python fornisce un'API integrata chiamata sqlite3, che permette di interagire con SQLite direttamente dal codice Python.

[Guida Coursera](https://author-ide.skills.network/render?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZF9pbnN0cnVjdGlvbnNfdXJsIjoiaHR0cHM6Ly9jZi1jb3Vyc2VzLWRhdGEuczMudXMuY2xvdWQtb2JqZWN0LXN0b3JhZ2UuYXBwZG9tYWluLmNsb3VkL0lCTURldmVsb3BlclNraWxsc05ldHdvcmstREIwMjAxRU4tU2tpbGxzTmV0d29yay9sYWJzL3Y4L0NoZWF0X3NoZWV0X0FjY2Vzc19kYl9weXRob24ubWQiLCJ0b29sX3R5cGUiOiJpbnN0cnVjdGlvbmFsLWxhYiIsImF0bGFzX2ZpbGVfaWQiOjMyMTE3LCJhZG1pbiI6ZmFsc2UsImlhdCI6MTczMDE3MTQyMX0.ZkRQG3L6Vwfja01scVgHjkt-3QAf3kArkoxaYaSaIAI)

In [1]:
# !pip install sqlite3
import sqlite3

In [10]:
# Creare una connessione a un database (se non esiste, viene creato)
conn = sqlite3.connect('database_prova.db')

# Creare un cursore per eseguire comandi SQL
cursor = conn.cursor()

**Creazione di una tabella**

Creo una tabella di prova con le seguenti colonne: ID, Nome, Cognome, Età, Città

In [11]:
# Elimino la tabella se già esiste
cursor.execute("DROP TABLE IF EXISTS Persone")

# Creazione della tabella
tabella = """ create table IF NOT EXISTS Persone (ID INTEGER PRIMARY KEY NOT NULL, Nome VARCHAR(20), Cognome VARCHAR(20), Età INTEGER, Città VARCHAR(50));"""
cursor.execute(tabella)

In [12]:
# Popolazione della tabella
cursor.execute('''insert into Persone values (1, 'Mario', 'Rossi', '43', 'Torino')''')
fill_table = '''insert into Persone values (2, 'Paolo', 'Certi', '34', 'Perugia'), (3, 'Sara', 'De Sio', '23', 'Siracusa'),
(4, 'Gino', 'Zarro', '65', 'Roma'), (5, 'Chiara', 'Liverti', '42', 'Barletta'), (6, 'Franca', 'Frivo', '33', 'Palermo') '''
cursor.execute(fill_table)

In [14]:
# Stampa della tabella
statement = '''SELECT * FROM Persone'''
cursor.execute(statement)

print("Tutti i dati")
output = cursor.fetchall()  # fetchall per tutte le righe
for row in output:
  print(row)

All the data
(1, 'Mario', 'Rossi', 43, 'Torino')
(2, 'Paolo', 'Certi', 34, 'Perugia')
(3, 'Sara', 'De Sio', 23, 'Siracusa')
(4, 'Gino', 'Zarro', 65, 'Roma')
(5, 'Chiara', 'Liverti', 42, 'Barletta')
(6, 'Franca', 'Frivo', 33, 'Palermo')

In [16]:
# Stampa di alcune righe
statement = '''SELECT * FROM Persone'''
cursor.execute(statement)

print("Prime due righe")
output = cursor.fetchmany(2)  # fetchmany(number) per selezionarne alcune
for row in output:
  print(row)

All the data
(1, 'Mario', 'Rossi', 43, 'Torino')
(2, 'Paolo', 'Certi', 34, 'Perugia')

In [18]:
# Oppure
statement = '''SELECT * FROM Persone LIMIT 2'''
cursor.execute(statement)

print("Prime due righe")
output = cursor.fetchall()
for row in output:
  print(row)

All the data
(1, 'Mario', 'Rossi', 43, 'Torino')
(2, 'Paolo', 'Certi', 34, 'Perugia')

In [20]:
# Selezione di alcune colonne
statement = '''SELECT Nome, Età FROM Persone '''
cursor.execute(statement)

print('Colonna Nome ed Età')
output = cursor.fetchall()
for row in output:
  print(row)

Colonna Nome ed Età
('Mario', 43)
('Paolo', 34)
('Sara', 23)
('Gino', 65)
('Chiara', 42)
('Franca', 33)

Possono essere eseguiti tutti i comandi SQL

**Passaggio a Pandas**

In [21]:
# Passo a Pandas il risultato della query che seleziona tutta la tabelle
import pandas as pd
df = pd.read_sql_query("select * from Persone;", conn)
display(df)

   ID    Nome  Cognome  Età     Città
0   1   Mario    Rossi   43    Torino
1   2   Paolo    Certi   34   Perugia
2   3    Sara   De Sio   23  Siracusa
3   4    Gino    Zarro   65      Roma
4   5  Chiara  Liverti   42  Barletta
5   6  Franca    Frivo   33   Palermo

In [22]:
# Chiudere la connessione
conn.close()

# Questo va SEMPRE fatto perché evita che le connessioni aperte usino risorse