# SQLMagic

SQLMagic è una funzionalità che usata con sqlite permette di eseguire comandi sql direttamente dalle celle del notebook. Ci sono comandi line magics e cell magics che sono preceduti rispettivamente da % e %%

In [ ]:
!pip install ipython-sql
%load_ext sql  # estenzione sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.1.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 14.8 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

In [ ]:
import sqlite3

connection = sqlite3.connect("Database_prova.db")
cursor = connection.cursor()

In [ ]:
# Connessione a un database
%sql sqlite:///Database_prova.db

%sql CREATE TABLE IF NOT EXISTS Persone (ID INTEGER PRIMARY KEY NOT NULL, Nome VARCHAR(20), Cognome VARCHAR(20), Età INTEGER, Città VARCHAR(50))

 * sqlite:///Database_prova.db
   sqlite:///mio_database.db
Done.

[]

In [ ]:
%%sql

INSERT INTO Persone (ID, Nome, Cognome, Età, Città) VALUES
(1, 'Mario', 'Rossi', '43', 'Torino'),
(2, 'Paolo', 'Certi', '34', 'Perugia'),
(3, 'Sara', 'De Sio', '23', 'Siracusa'),
(4, 'Gino', 'Zarro', '65', 'Roma'),
(5, 'Chiara', 'Liverti', '42', 'Barletta'),
(6, 'Franca', 'Frivo', '33', 'Palermo'),
(7, 'Bruno', 'Barbieri', '65', 'Bologna'),
(8, 'Gabriel', 'Di Paolo', '24', 'Roma'),
(9, 'Rosa', 'Bianchi', '26', 'Catania'),
(10, 'Leonardo', 'Reali', '54', 'Terni')

 * sqlite:///Database_prova.db
   sqlite:///mio_database.db
10 rows affected.

[]

Si possono eseguire tutti i comandi SQL

In [ ]:
# Libreria per creare tabelle
!pip install ipython-sql prettytable
import prettytable
prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (3.15.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [ ]:
%sql SELECT * FROM Persone WHERE Età BETWEEN 18 AND 30

 * sqlite:///Database_prova.db
   sqlite:///mio_database.db
Done.

[(3, 'Sara', 'De Sio', 23, 'Siracusa'),
 (8, 'Gabriel', 'Di Paolo', 24, 'Roma'),
 (9, 'Rosa', 'Bianchi', 26, 'Catania')]

In [ ]:
min = 18
max = 30
# posso passare a sql delle variabili python
%sql SELECT * FROM Persone WHERE Età BETWEEN :min AND :max

 * sqlite:///Database_prova.db
   sqlite:///mio_database.db
Done.

[(3, 'Sara', 'De Sio', 23, 'Siracusa'),
 (8, 'Gabriel', 'Di Paolo', 24, 'Roma'),
 (9, 'Rosa', 'Bianchi', 26, 'Catania')]

In [ ]:
# Posso fare anche il contrario: salvare il risultato di una query
age_selection = %sql SELECT * FROM Persone WHERE Età BETWEEN :min AND :max
age_selection

 * sqlite:///Database_prova.db
   sqlite:///mio_database.db
Done.

[(3, 'Sara', 'De Sio', 23, 'Siracusa'),
 (8, 'Gabriel', 'Di Paolo', 24, 'Roma'),
 (9, 'Rosa', 'Bianchi', 26, 'Catania')]

In [ ]:
df = age_selection.DataFrame()
display(df)

   ID     Nome   Cognome  Età     Città
0   3     Sara    De Sio   23  Siracusa
1   8  Gabriel  Di Paolo   24      Roma
2   9     Rosa   Bianchi   26   Catania